<header class="d-fr">
    <navbar class="d-f ai-c jc-sb maw-l m-a">
        <nav class="d-f ai-c fz-s-800 fw-500">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Contact</a>
            <a href="/">Register</a>
        </nav>
        <brand class="d-fr fz-m-500 fw-500">
            <a href="/">NOVELLERY</a>
        </brand>
        <nav class="d-f ai-c fz-s-800 fw-500" style="gap: 1rem">
            <a id="mode" class="user fz-s-800" ><i class="fa-solid fa-sun"></i></a>
            <div id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
            <a id="user" class="user fz-s-800" href="/register"><i class="fa-solid fa-user"></i></a>
        </nav>
    </navbar>
</header>

<section id="spotlight" class="bgc-dark-000">
    <img class="cover-img" alt="cover-img">
    <container class="d-fr maw-l m-a">
        <slider class="d-fr -bgc-dark-0000">
            <slide class="d-fr">
<!--                <img src="/sample-cover-3.jpg" alt="cover-img">-->
                <p class="index fz-m-500 fw-700" style="color: lightcoral"># 1</p>
                <info class="c-light-100">
                    <p class="title fz-l-100 fw-700">Forever With You</p>
                    <br>
                    <p class="description fz-s-400 maw-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <br><br>
                    <a href="/" class="read-now fz-s-900"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Read Now</a>
                    <a href="/" class="add-now fz-s-900"><i class="fa-solid fa-plus"></i></a>
                </info>
            </slide>
            <slide class="d-fr">
<!--                <img src="/sample-cover-2.jpg" alt="cover-img">-->
                <p class="index fz-m-500 fw-700" style="color: lightcoral"># 2</p>
                <info class="c-light-100">
                    <p class="title fz-l-100 fw-700">Demon Slayer</p>
                    <br>
                    <p class="description fz-s-400 maw-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <br><br>
                    <a href="/" class="read-now fz-s-900"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Read Now</a>
                    <a href="/" class="add-now fz-s-900"><i class="fa-solid fa-plus"></i></a>
                </info>
            </slide>
            <slide class="d-fr">
<!--                <img src="/sample-cover-1.jpg" alt="cover-img">-->
                <p class="index fz-m-500 fw-700" style="color: lightcoral"># 3</p>
                <info class="c-light-100">
                    <p class="title fz-l-100 fw-700">City Kids</p>
                    <br>
                    <p class="description fz-s-400 maw-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <br><br>
                    <a href="/" class="read-now fz-s-900"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Read Now</a>
                    <a href="/" class="add-now fz-s-900"><i class="fa-solid fa-plus"></i></a>
                </info>
            </slide>
            <controls>
                <div class="left fz-s-900"><i class="fa-solid fa-angle-left"></i></div>
                <div class="right fz-s-900"><i class="fa-solid fa-angle-right"></i></div>
            </controls>
        </slider>
    </container>
</section>
